<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="loginAndRegisterHeaderFiles (title)">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="UA-X-Compatible" content="ie=edge" />
<script src="https://kit.fontawesome.com/0dc62f9d82.js"
	crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<link th:href="@{/css/loginAndRegister.css}" th:rel="stylesheet" />
<title th:text="${title}"></title>
</head>
<body>
</body>
</html>