<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
	<div th:fragment="header">
		<h2>
			<span th:text="#{logoText}"></span>
		</h2>
		<div class="i18-mobile">
			<span id="closedMenu" class="hamburger"><i
				class="fas fa-bars fa-lg"></i></span> <span id="openedMenu"
				class="hamburger"><i class="fas fa-times fa-lg"></i></span>
			<ul id="menuContent">
				<li class="menuContent hideMenu">
					<div class="i18Btns">
						<button type="button" class="enBtn" th:title="#{english}">
							<img th:src="@{/img/en_flag.png}" alt="" />
						</button>
						<button type="button" class="srBtn" th:title="#{serbian}">
							<img th:src="@{/img/sr_flag.png}" alt="" />
						</button>
					</div>
				</li>
			</ul>
		</div>
		<div class="i18">
			<div class="i18Btns">
				<button type="button" class="enBtn" th:title="#{english}">
					<img th:src="@{/img/en_flag.png}" alt="" />
				</button>
				<button type="button" class="srBtn" th:title="#{serbian}">
					<img th:src="@{/img/sr_flag.png}" alt="" />
				</button>
			</div>
		</div>
	</div>
</body>
</html>