<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
	<div th:fragment="header">
		<h2 th:utext="#{logoText}"></h2>
		<div class="i18">
			<div class="i18Btns">
				<button type="button" onclick="changeLocale('en')" id="enBtn"
					th:title="#{english}">
					<img th:src="@{/img/en_flag.png}" alt="" />
				</button>
				<button type="button" onclick="changeLocale('sr')" id="srBtn"
					th:title="#{serbian}">
					<img th:src="@{/img/sr_flag.png}" alt="" />
				</button>
			</div>
			<div class="logoutLink">
				<ul>
					<li><i class="fas fa-user fa-sm"></i> <i
						class="fas fa-caret-down fa-sm"></i></li>
					<li>
						<ul>
							<li><span sec:authentication="name"></span></li>
							<li><a th:href="@{/logout}" th:text="#{logout}"></a>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>