@import url("browserReset.css");

:root {
	--header-footer-background-color: #5084b8;
	--header-footer-text-color: #ccebff;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
	min-height: 10vh;
	background-color: var(--header-footer-background-color);
}

.header h2 {
	align-self: center;
	line-height: 1.1;
	font-size: 1rem;
	color: var(--header-footer-text-color);
	padding: 10px 0;
}

.i18 {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	height: 100%;
	text-align: right;
}

.i18Btns {
	flex: 1;
	padding: 10px 0 0 0;
}

button {
	margin: 0;
	padding: 0;
}

.i18Btns img {
	width: 30px;
	cursor: pointer;
}

.footer {
	display: flex;
	justify-content: center;
	padding: 10px 20px;
	min-height: 10vh;
	background-color: var(--header-footer-background-color);
	color: var(--header-footer-text-color);
}

.footer p {
	align-self: center;
}

@media screen and (min-width: 768px) {
	.header {
		height: 10vh;
	}
	
	.header h2 {
		font-size: 1.3rem;
	}
	
	.footer {
		height: 10vh;
	}
}