@import url("browserReset.css");

:root {
	--header-footer-background-color: #5084b8;
	--header-footer-text-color: #ccebff;
	--header-dropdown-menu-li-hover: #386189;
	--header-dropdown-menu-li-border: #7da4ca;
}

.header {
	min-height: 70px;
	background-color: var(--header-footer-background-color);
}

.header h2 {
	display: flex;
	height: 70px;
	width: 70px;
	line-height: 1.1rem;
	word-wrap: wrap;
	font-size: 1rem;
	color: var(--header-footer-text-color);
	padding: 0px 20px;
	float: left;
}

.header h2 span {
	align-self: center;
}

#closedMenu {
	padding: 0px 20px;
	float: right;
	cursor: pointer;
	line-height: 70px;
	height: 70px;
	color: var(--header-footer-text-color);
}

#openedMenu {
	padding: 0px 20px;
	float: right;
	display: none;
	line-height: 70px;
	height: 70px;
	cursor: pointer;
	color: var(--header-footer-text-color);
}

.menuContent {
	list-style-type: none;
}

.hideMenu {
	display: none;
}

.showMenu {
	display: block;
	background-color: var(--header-footer-background-color);
	text-align: center;
	border-top: 2px solid var(--header-footer-text-color);
	animation: fadeIn ease 0.5s;
	clear: both;
	-webkit-animation: fadeIn ease 0.5s;
	-moz-animation: fadeIn ease 0.5s;
	-o-animation: fadeIn ease 0.5s;
	-ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn { 
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn { 
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn { 
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn { 
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn { 
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.i18Btns {
	flex: 1;
	line-height: 1;	
	padding: 10px 20px;
}

button {
	margin: 0;
	padding: 0;
}

.i18Btns img {
	width: 30px;
	cursor: pointer;
}

.i18 {
	display: none;
}

.footer {
	display: flex;
	justify-content: center;	
	background-color: var(--header-footer-background-color);
	color: var(--header-footer-text-color);
	font-size: 0.8rem;
	height: 70px;
}

.footer p {
	align-self: center;
}
/* 
	Main header specific CSS rules
*/
 .header h2 a {
	align-self: center;
	text-decoration: none;
}

.header h2 a:visited {
	color: var(--header-footer-text-color);
}

.menuContent .userEmail span {
	color: var(--header-footer-text-color);
}

.menuContent .logoutLink a {
	text-decoration: none;
	color: var(--header-footer-text-color);
}

.menuContent .userEmail {
	padding: 10px 20px;
}

.menuContent .logoutLink {
	padding: 10px 20px;
}
/* 
	End of main header specific CSS rules
*/

@media screen and (min-width: 768px) {
		
	.header {
		height: 10vh;
		display: flex;
		justify-content: space-between;
	}
	
	.header h2 {
		align-self: center;
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
	
	.footer {
		height: 10vh;
		font-size: 1rem;
	}
	
	.i18-mobile {
		display: none;
	}
	
	.i18 {
		display: block;		
		display: flex;
		flex-direction: column;
		align-content: space-between;
		height: 100%;
		text-align: right;
	}
	
/*
	Main header specific CSS rules
*/
	.i18 .logoutLink {
		justify-self: end;
		color: #ccebff;
		padding-right: 20px;
	}
	
	.i18 .logoutLink ul .fa-user {
		border: 2px solid var(--header-footer-text-color);
		border-radius: 50%;
		padding: 0.5rem;
		margin-bottom: 10px;
	}
	
	.i18 .logoutLink ul {
		list-style-type: none;
	}
	
	.i18 .logoutLink ul li:nth-child(1) {
		position: relative;
	}
	
	.i18 .logoutLink ul li ul {
		position: absolute;
		right: 0;
		z-index: 1;
	}
	
	.i18 .logoutLink ul li li {
		display: none;
	}
	
	.i18 .logoutLink ul:hover li ul li {
		display: block;
		padding: 20px 30px;
		background-color: var(--header-footer-background-color);
		text-align: center;
		animation: fadeIn ease 0.5s;
		-webkit-animation: fadeIn ease 0.5s;
		-moz-animation: fadeIn ease 0.5s;
		-o-animation: fadeIn ease 0.5s;
		-ms-animation: fadeIn ease 0.5s;
	}
	
	.i18 .logoutLink ul li ul li:hover {
		background-color: var(--header-dropdown-menu-li-hover);
	}
	
	.i18 .logoutLink ul li ul li:nth-child(1) {
		border-bottom: 1px solid var(--header-dropdown-menu-li-border);
	}
	
	.i18 .logoutLink ul li span {
		font-size: 0.85rem;
		font-style: italic;
	}
	
	.i18 .logoutLink ul li a {
		display: block;
		text-decoration: none;
		color: var(--header-footer-text-color);
	}
/*
	End of main header specific CSS rules
*/
			
}