@import url("browserReset.css");
@import url("headerAndFooter.css");

@font-face {
	font-family: "MRegular";
	src: url("/css/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "MBold";
	src: url("/css/fonts/Montserrat/Montserrat-Bold.ttf");
}

:root {
	--main-background-color: #e0ebeb;
	--form-background-color: #ccebff;
	--form-border-color: #4d8fbb;
	--success-text-color: #3da11b;
	--success-background-color: #8bf169;
	--error-text-color: rgba(255, 0, 0, 0.753);
	--error-background-color: #fac3c3;
	--input-field-focus-color: #4be42c;
	--button-background-color: #1871ac;
	--button-text-color: #fff;
	--button-hover-background-color: #145e8f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "MRegular", sans-serif;
}

.container {
	background-color: var(--main-background-color);
	min-height: 80vh;
	display: flex;
	padding: 30px 0;
	justify-content: center;
	align-items: center;
}

.container form {
	width: 320px;
	padding: 15px;
	background-color: var(--form-background-color);
	border: 2px solid var(--form-border-color);
	border-radius: 10px;
}

form h1 {
	padding-bottom: 18px;
	font-size: 1.2rem;
}

.invalidLogin {
	background-color: var(--error-background-color);
	color: var(--error-text-color);
	padding: 10px 0px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 0.6rem;
	font-family: "MBold";
}

.error {
	color: var(--error-text-color);
	font-size: 0.6rem;
	font-family: "MBold";
	line-height: 1;
	margin-top: 3px;
}

.logout {
	background-color: var(--success-background-color);
	color: var(--success-text-color);
	padding: 10px 0px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 0.6rem;
	font-family: "MBold";
}

.success {
	background-color: var(--success-background-color);
	color: var(--success-text-color);
	padding: 10px 0px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 0.6rem;
	font-family: "MBold";
}

#email, #password, #name, #repeatPassword {
	width: 100%;
	padding: 8px 8px 8px 30px;
	border: 2px solid var(--form-border-color);
	border-width: 2px;
	border-radius: 10px;
	outline: none;
	font-size: 0.8rem;
}

#email:focus, #password:focus, #name:focus, #repeatPassword:focus {
	border-color: var(--input-field-focus-color);
}

.email, .password, .name, .repeatPassword {
	position: relative;
}

.name i {
	position: absolute;
	left: 10px;
	top: 29%;
	transform: translateY(-50%);
}

.email i {
	position: absolute;
	left: 10px;
	top: 49%;
	transform: translateY(-50%);
}

.password i {
	position: absolute;
	left: 10px;
	top: 48%;
	transform: translateY(-50%);
}

.repeatPassword i {
	position: absolute;
	left: 10px;
	top: 46%;
	transform: translateY(-50%);
}

#name {
	margin-bottom: 20px;
}

#password {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btnLogin, .btnRegister {
	width: 100%;
}

.btnLogin {
	margin: 0 auto 20px auto;
}

.btnRegister {
	margin: 20px auto;
}

.btnLogin input, .btnRegister input {
	width: 100%;
	font-size: 1rem;
	padding: 6px 0px;
	border-radius: 10px;
	border: none;
	outline: none;
	background-color: var(--button-background-color);
	color: var(--button-text-color);
}

.btnLogin input:hover, btnRegister input:hover {
	background-color: var(--button-hover-background-color);
}

.register, .login {
	text-align: center;
	margin-top: 8px;
	font-size: 0.8rem;
}

.register a:hover, .login a:hover {
	font-family: "MBold";
}

@media screen and (min-width: 768px) {
	.container {
		height: 80vh;
	}
	
	.container form {
		width: 400px;
		padding: 20px;
	}
	
	form h1 {
		padding-bottom: 25px;
		font-size: 1.5rem;
	}
	
	.invalidLogin {		
		padding: 15px 0px;		
		margin-bottom: 30px;
		font-size: 0.8rem;
	}
	
	.error {
		font-size: 0.8rem;
		margin-top: 5px;
	}
	
	.logout {
		padding: 15px 0px;
		margin-bottom: 30px;
		font-size: 0.8rem;
	}
	
	.success {
		padding: 15px 0px;
		margin-bottom: 30px;
		font-size: 0.8rem;
	}
	
	#email, #password, #name, #repeatPassword {
		padding: 10px 10px 10px 30px;
		font-size: 1rem;
	}
	
	#name {
		margin-bottom: 30px;
	}

	#password {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.btnLogin {
		margin: 0 auto 30px auto;
	}

	.btnRegister {
		margin: 30px auto;
	}
	
	.btnLogin input, .btnRegister input {
		font-size: 1.2rem;
		padding: 8px 0px;
	}
	
	.register, .login {
		text-align: center;
		margin-top: 10px;
		font-size: 1rem;
	}
}