@import url("browserReset.css");
@import url("headerAndFooter.css");

@font-face {
	font-family: "MRegular";
	src: url("/css/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "MBold";
	src: url("/css/fonts/Montserrat/Montserrat-Bold.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "MRegular", sans-serif;
}

.container {
	background-color: #e0ebeb;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i18 .logoutLink {
	justify-self: end;
}

.logoutLink ul {
	list-style-type: none;
}

.logoutLink ul li {
	display: none;
}

ul:hover li{
	display: block;
}

.logoutLink ul li a {
	text-decoration: none;
	color: #ccebff;
}