/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "MRegular";
  src: url("/css/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MBold";
  src: url("/css/fonts/Montserrat/Montserrat-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MRegular", sans-serif;
}

.container {
  background-color: #e0ebeb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 400px;
  padding: 20px;
  background-color: #ccebff;
  border: 2px solid #4d8fbb;
  border-radius: 10px;
}

form h1 {
  padding-bottom: 25px;
  font-size: 1.6rem;
}

.invalidLogin {
  background-color: #fac3c3;
  color: rgba(255, 0, 0, 0.753);
  padding: 15px 0px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 0.8rem;
  font-family: "MBold";
}

.logout {
  background-color: #8bf169;
  color: #3da11b;
  padding: 15px 0px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 0.8rem;
  font-family: "MBold";
}

.success {
  background-color: #8bf169;
  color: #3da11b;
  padding: 15px 0px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 0.8rem;
  font-family: "MBold";
}

#email,
#password,
#name,
#retypePassword {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border: 2px solid #4d8fbb;
  border-width: 2px;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

#email:focus,
#password:focus,
#name:focus,
#retypePassword:focus {
  border-color: #4be42c;
}

.email,
.password,
.name,
.retypePassword {
  position: relative;
}

.name i, .email i, .password i, .retypePassword i {
  position: absolute;
  left: 10px;
  top: 31%;
  transform: translateY(-50%);
}

input {
  margin-bottom: 30px;
}

.btn {
  width: 100%;
  margin: auto;
}

.btn input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 0px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1871ac;
  color: white;
}

.btn input:hover {
  background-color: #145e8f;
}

.register,
.login {
  text-align: center;
  margin-top: 10px;
}

.register a:hover,
.login a:hover {
  font-family: "MBold";
}

