<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="UA-X-Compatible" content="ie=edge" />
<script src="https://kit.fontawesome.com/0dc62f9d82.js"
	crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<link th:href="@{/css/headerAndFooter.css}" th:rel="stylesheet" />
<link th:href="@{/css/loginAndRegister.css}" th:rel="stylesheet" />
<title>Home page</title>
</head>
<body>
<div class="header" th:include="@{fragments/header} :: header (logout = #{logout})"></div>
	<div class="container">
		<h2 th:text="#{newContent}"></h2>
		<br />
		<p>
			<a th:href="@{/logout}" th:text="${logout}"></a>
		</p>
	</div>
	<div class="footer" th:include="@{fragments/footer} :: footer"></div>
</body>
</html>