<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head
	th:replace="@{/fragments/mainHeadTag} :: mainHeaderFiles (title = #{homePage})">
</head>
<body>
	<div class="header" th:include="@{fragments/mainHeader} :: header"></div>
	<div class="container">
		<form th:action="@{/calculate/stoppingDistance}" th:method="POST"
			th:object="${calculation}">
			<div class="input speed">
				<label for="speed" th:text="#{speed}"></label> <input type="text"
					id="speed" th:field="*{speed}" th:attr="placeholder=#{speedPrompt}" autofocus
					required="required" /> <span th:text="#{kmh}"></span>
			</div>
			<p th:errors="*{speed}" class="error"></p>
			<div class="input deceleration">
				<label for="deceleration" th:text="#{deceleration}"></label> <input
					type="text" id="deceleration" th:field="*{deceleration}" th:attr="placeholder=#{decelerationPrompt}"
					required="required" /> <span th:text="#{ms2}"></span>
			</div>
			<p th:errors="*{deceleration}" class="error"></p>
			<div class="input btnCalculate">
				<input type="submit" th:attr="value=#{calculate}" />
			</div>
			<div class="result" th:if="*{stoppingDistanceExists}"> 
				<textarea rows="" cols="" th:text="*{stoppingDistance}">				
			</textarea>
				<div class="export">
					<a th:href="@{'/calculate/exportToWord?result=' + ${calculation.stoppingDistance}}"> <img
						th:src="@{/img/word_icon.jpg}" alt=""
						th:attr="title=#{exportToWord}" />
					</a>
				</div>
			</div>
		</form>
	</div>
	<div class="footer" th:include="@{fragments/footer} :: footer"></div>
</body>
</html>