<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="UA-X-Compatible" content="ie=edge" />    
    <script src="https://kit.fontawesome.com/0dc62f9d82.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" th:rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form th:action="@{/login}" th:method="POST">
            <h1 th:text="#{login}"></h1>
            <div th:if="${param.error}" class="invalidLogin">
                <span th:text="#{badCredentials}"></span>
            </div>
            <div th:if="${param.success}" class="logout">
                <span th:text="#{successLogout}"></span>
            </div>
            <div class="email">
                <input type="email" th:attr="placeholder=#{email}" autofocus required name="username" id="email" />
                <i class="fas fa-envelope"></i>
            </div>
            <div class="password">
                <input type="password" th:attr="placeholder=#{password}" required name="password" id="password" />
                <i class="fas fa-lock"></i>
            </div>
            <div class="btnLogin">
                <input type="submit" th:attr="value=#{log_in}" />
            </div>
            <div class="register">
                <span th:text="#{registerPrompt}"></span>
                <a th:href="@{/registration}" th:text="#{promptLink}"></a>
            </div>
        </form>
    </div>
</body>
</html>