<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="@{fragments/loginAndRegisterHeadTag} :: loginAndRegisterHeaderFiles (title = #{register})">
</head>
<body>

	<div class="header" th:include="@{fragments/loginAndRegisterHeader} :: header"></div>
	<div class="container">		
		<form th:action="@{/registration}" method="POST" th:object="${user}">
			<h1 th:text="#{register}"></h1>
			<div th:if="${param.success}" class="success">
				<span th:text="#{successRegister}"></span>
			</div>
			<div class="name">
				<input type="text" th:field="*{name}" th:attr="placeholder=#{name}"
					autofocus="autofocus" required name="name" id="name" /> <i
					class="fas fa-user"></i>
			</div>
			<div class="email">
				<input type="email" th:field="*{email}"
					th:attr="placeholder=#{email}" required name="email" id="email" />
				<i class="fas fa-envelope"></i>
			</div>
			<p th:errors="*{email}" class="error"></p>
			<div class="password">
				<input type="password" th:field="*{password}"
					th:attr="placeholder=#{password}" required name="password"
					id="password" /> <i class="fas fa-lock"></i>
			</div>
			<div class="repeatPassword">
				<input type="password" th:field="*{repeatPassword}"
					th:attr="placeholder=#{repeatPassword}" required
					name="repeatPassword" id="repeatPassword" /> <i
					class="fas fa-lock"></i>
			</div>
			<p th:errors="*{repeatPassword}" class="error"></p>
			<div class="btnRegister">
				<input type="submit" th:attr="value=#{sign_up}" />
			</div>
			<div class="login">
				<span th:text="#{loginPrompt}"></span> <a th:href="@{/login}"
					th:text="#{promptLink}"></a>
			</div>
		</form>
	</div>
	<div class="footer" th:include="@{fragments/footer} :: footer"></div>
</body>
</html>